<div id="container">



<style type="text/css">
	

	*{
	    margin:0;
	    -webkit-user-select: none;
	    font-family: Georgia, sans-serif;
	}
	
	body {
		background-color:#eee;
	}
	
	canvas{
	    cursor: crosshair;
	    border:black solid 1px;
	 }
	#clr div{
	    cursor:pointer;
	    cursor:hand;
	    width:20px;
	    height:20px;
	    float:left;
	}
	#container {
		background : transparent url("/images/map.png") no-repeat 0 0 scroll;
		width:960px;
		height :643px;
		margin:0 auto;
		position:relative;
	}
	#can {
		width:960px;
		height:643px;
		position:relative;
	}

</style>

<script type="text/javascript"
src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>


<script type="text/javascript">
jQuery.noConflict();
 
jQuery(document).ready(function() {
        var draw= false;
       
        var canvas = jQuery("#can");
        var ctx = canvas[0].getContext("2d");
		var offSet;

        ctx.strokeStyle = 'red';

        //set it true on mousedown
        jQuery("#can").mousedown(function(){
				draw=true;
				offSet = jQuery("#container").offset();
				});

        //reset it on mouseup
        jQuery("#can").mouseup(function(){draw=false;});

        jQuery("#can").mousemove(function(e) {
            if(draw==true){

                    ctx.lineWidth = 15;
                    ctx.lineCap = "round";
                    ctx.beginPath();
                    ctx.moveTo(e.pageX - offSet.left ,e.pageY-offSet.top);
                    ctx.lineTo(e.pageX- offSet.left,e.pageY-offSet.top);
                    ctx.stroke();
            }    
       });

        
       //code for color pallete
        jQuery("#clr > div").click(
        function(){
               ctx.strokeStyle = jQuery(this).css("background-color");
        });
     
        //Eraser
        jQuery("#eraser").click(function(){
        ctx.strokeStyle = '#fff';
        });

        //Code for save the image
        jQuery("#save").click(function(){ 
            jQuery("#result").append("<br /><br /><img src="+
            canvas[0].toDataURL()+ 
           " /><br /><a href="+canvas[0].toDataURL()+ 
           " target='_blank'>show</a>");
        });

        jQuery("#draw_submit").click(function(){ 
            jQuery("#draw_data").val(canvas[0].toDataURL());
            jQuery("#new_draw").submit();
			return false
        });
     
        //Clear 
        jQuery("#clear").click(function(){
                 ctx.fillStyle = "#fff";
                 ctx.fillRect(0, 0, canvas[0].width, canvas[0].height);
                 ctx.strokeStyle = "red";
                 ctx.fillStyle = "red";
            }
            );
});




	
</script>


<canvas id="can" width="960" height="643"> </canvas> 
<div id="clr"> 
	<div style="background-color:black;"></div>
	<div style="background-color:transparen;"> </div> 
	<div style="background-color:red;"> </div>
	<div style="background-color:green;"> </div>
	 <div style="background-color:orange;"> </div> 
	</div> <a href="#" id="clear" >Clear</a> <a id="save" href="#">Save</a> <a id="eraser" href="#">Eraser</a> <span id="result" ></span>  


	<h1>Colorie le quartier latin</h1>

	<%= form_for(@draw) do |f| %>

	<%= render 'shared/error_messages' %>

	  <div class="field">
	    <%= f.label :author %><br />
	    <%= f.text_field :author %>
	  </div>

	  <div class="field">
	    <%= f.label :data %><br />
	    <%= f.text_area :data %>
	  </div>

	  <div class="field">
	    <%= f.label :parisien %><br />
	    <%= f.check_box :parisien %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Ok!" %>
	  </div>
	<% end %>



</div>