<h1>Colorie le quartier latin</h1>

<%= form_for(@draw) do |f| %>

<%= render 'shared/error_messages' %>

  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_area :data %>
  </div>

  <div class="field">
    <%= f.label :parisien %><br />
    <%= f.check_box :parisien %>
  </div>
  <div class="actions">
    <%= f.submit "Ok!" %>
  </div>
<% end %>