<h1>Colorie le Quartier Latin</h1>

<canvas id="can" width="960" height="643"> </canvas> 
<p><a href="#" id="clear" >Clear</a></p>




<%= form_for(@draw) do |f| %>

	<%= render 'shared/error_messages' %>

	<div class="field hidden">
	<%= f.label :data %><br />
	<%= f.text_area :data %>
  	</div>

  <div class="actions">
    <%= f.submit "Ok!" %>
  </div>
<% end %>

